<ion-card [routerLink]="['./', ]">
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-icon #resicon name="fast-food-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-row>
            Active Order
          </ion-row>
          <ion-row #store>
            <h2>{{ order.restaurantName }}</h2>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <div *ngFor="let order of order.orders; let i = index">
          <ion-chip>
            <!--<ion-icon src=''></ion-icon>-->
            <ion-label>{{ fireservice.nameForUser(order.user) }}</ion-label>
          </ion-chip>
        </div>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col class="ion-text-left">Group Message</ion-col>
        <ion-col>
          <p class="ion-text-right">{{ order.orders.length }} people</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-left">{{ order.groupMessage }}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
