/*ion-col{
  ion-input{
     border: solid 1px red;

  }
}

ion-row{
  ion-textarea{
     border: solid 1px red;
  }
}*/

.restaurant-icon {
  font-size: 64px;
  color: lightgrey;
}

h1 {
  font-size: 36px;
}
