<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/group-orders"></ion-back-button>
    </ion-buttons>
    <ion-title>Place Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-row>
          <ion-col size="2">
            <ion-icon class="restaurant-icon" name="fast-food-outline"></ion-icon>
          </ion-col>

          <ion-col>
            <ion-row *ngIf="order">
              <ion-col>
                <ion-label class="storename"><h1>{{order.restaurantName}}</h1></ion-label>
                <ion-label color="medium">{{order.restaurantAddress}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-list *ngIf="order">
          <ion-list-header><h2>Pick-up list</h2></ion-list-header>

          <!-- Current user list -->
          <ion-item-sliding #userPickupList [hidden]="hideUserPickupList">
            <ion-item>
              <ion-label>
                <h2><b>{{ fireservice.nameForUser(userId) }}</b>&nbsp;(You)</h2>
                <p style="flex:none; margin-left: 16px;">{{userOrder.order}}</p>
              </ion-label>
              <ion-item-options side="end">
                <ion-item-option style="pointer-events: auto" (click)='modifyUserList()'>
                  Modify
                </ion-item-option>
                <ion-item-option color="danger" style="pointer-events: auto" (click)='deleteUserList()'>
                  Delete
                </ion-item-option>
              </ion-item-options>
            </ion-item>
          </ion-item-sliding>

          <div #pickupList *ngFor="let anOrder of order.orders | keyvalue">
            <!-- other members list -->
            <ion-item *ngIf="(anOrder.value.status === filled) && anOrder.key !== userId">
              <ion-label>
                <h2><b>{{ fireservice.nameForUser(anOrder.key) }}</b></h2>
                <p style="flex: none; margin-left: 16px">
                  {{anOrder.value.order}}
                </p>
              </ion-label>
            </ion-item>
          </div>
        </ion-list>

        <ion-item [hidden]="hideInputOrder">
          <ion-label position="floating">What are you ordering?</ion-label>
          <ion-textarea #userInput autoGrow="true"></ion-textarea>
        </ion-item>

        <ion-grid [hidden]="hideInputOrder">
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <ion-button
                (click)="updateUserOrder(userInput.value)"
                style="white-space: pre-wrap"
              >
                + Add your order to the list
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>