.form{
    margin-top: 50px;
}

.googleBTN{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 20px; 
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #dbdada;
    background-color: white;
}

.facebookBTN{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 20px; 
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #dbdada;
    background-color: white;
}

#centered{
    text-align: center;
}