<ion-header>
  <ion-toolbar>
    <ion-title>User Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <!--- Change the Login and Sign up tabs on top-->
    <ion-segment [(ngModel)]="userAuth">
      <ion-segment-button value="login">
        <ion-label>Log-in</ion-label>
      </ion-segment-button>

      <ion-segment-button value="signup">
        <ion-label>Sign-up</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-item-group [ngSwitch]='userAuth'>
      <!------ Switch to Login Page-->
      <ion-item-group *ngSwitchCase="'login'">
        <ion-item>
          <br>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]='email'></ion-input>
        </ion-item>
        <br>  <!--- Line break-->

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input [(ngModel)]='password' type='password'></ion-input>
        </ion-item>
        <br>

        <ion-button (click)='login()' expand='block'>Log-in</ion-button>
        <br>
      </ion-item-group>
      
      <!---- Switch to Sign up Page-->
      <ion-item-group *ngSwitchCase="'signup'">
        <ion-item>
          <br>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]='email'></ion-input>
        </ion-item>
        <br>
    
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input [(ngModel)]='password' type='password'></ion-input>
        </ion-item>
        <br>
    
        <ion-item>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input [(ngModel)]='confirmPassword' type='password'></ion-input>
        </ion-item>
        <br>
    
        <ion-button (click)='signup()' expand='block'>Sign Up</ion-button>
      </ion-item-group>
      <br>
    </ion-item-group>
  </ion-card>

  <ion-text id="centered">
    <h1 style="font-size: 20px;">Or connect with</h1>
  </ion-text>

  <ng-container>
    <ion-list style="text-align:center">
    
      <!----- Google Button-->
      <ion-button class="googleBTN" fill="clear" color="transparent" style="color: gray;">
        <img width="20px" style="margin-top:1px; margin-right:8px" alt="Google sign-in" 
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Google
      </ion-button>

      <!----- Facebook Button-->
      <br>
      <ion-button class="facebookBTN" fill="clear" color="transparent" style="color: gray;">
        <img width="20px" style="margin-top:1px; margin-right:8px" alt="Google sign-in" 
        src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Facebook_f_logo_%282021%29.svg/1280px-Facebook_f_logo_%282021%29.svg.png" />
        Facebook
      </ion-button>
    
    </ion-list>
</ng-container>

  <br>
  <ion-text id="centered">
    <h5 style="font-size: 10px;">By proceeding, you agree to Easy Ordering
      Terms & conditions, & privacy policy </h5>
  </ion-text>
</ion-content>
