<ion-header>
  <ion-toolbar>
    <ion-title>User Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <!--- Change the Login and Sign up tabs on top-->
    <ion-segment [(ngModel)]="userAuth">
      <ion-segment-button value="login">
        <ion-label>Log-in</ion-label>
      </ion-segment-button>

      <ion-segment-button value="signup">
        <ion-label>Sign-up</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]='userAuth'>
      <!------ Switch to Login Page-->
      <ion-item-group *ngSwitchCase="'login'">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]='email'></ion-input>
        </ion-item>
        <br>  <!--- Line break-->

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input [(ngModel)]='password' type='password'></ion-input>
        </ion-item>
        <br>

        <ion-button (click)='login()' expand='block'>Log-in</ion-button>
        <br>

        <h5 (click)='signup'>Don't have an account?</h5>
        <ion-text color='primary'><a href="/tabs/signup">Sign up here</a></ion-text>
      </ion-item-group>
      
      <!---- Switch to Sign up Page-->
      <ion-item-group *ngSwitchCase="'signup'">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]='email'></ion-input>
        </ion-item>
        <br>
    
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input [(ngModel)]='password' type='password'></ion-input>
        </ion-item>
        <br>
    
        <ion-item>
          <ion-label position="stacked">Confirm Password</ion-label>
          <ion-input [(ngModel)]='confirmPassword' type='password'></ion-input>
        </ion-item>
        <br>
    
        <ion-button (click)='signup()' expand='block'>Sign Up</ion-button>
      </ion-item-group>
      <br>
    </div>
  </ion-card>

  <!----- Google Button-->
  <button class="google">
    <a style="font-size: 30px;">
      <img width="30px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
       src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
       Google
    </a>
  </button>
  <br>
</ion-content>
