<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="group-orders">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Group Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping-lists">
      <ion-icon name="list"></ion-icon>
      <ion-label>Shopping List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
