<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Easy Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Easy Order</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">

        <ion-slides>
          <ion-slide *ngFor="let aOrder of activeOrders">
            <app-card-active-order [order]="aOrder" [routerLink]="['./', aOrder.docID]"></app-card-active-order>
          </ion-slide>
        </ion-slides>

          <ion-row>
            <ion-col><h3>PREVIOUS ORDERS</h3></ion-col>
          </ion-row>
          <ion-row  *ngFor="let pOrder of previousOrders">
            <ion-col>
            <app-previous-order [order] = "pOrder" [routerLink]="['./', pOrder.docID]"></app-previous-order>
          </ion-col>
          </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)='startNewOrder()' color="success">
      <ion-icon name="Add"></ion-icon>
      Start new order
    </ion-fab-button>
  </ion-fab>

</ion-content>
