<ion-header>
  <ion-toolbar>
    <ion-title>New Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Where are you ordering from?"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Detailed Restaurant Info</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Group Message" rows="10"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Send Payment Info</ion-label>
    <ion-toggle checked></ion-toggle>
  </ion-item>
  <ion-item-group>
    <ion-item-divider><ion-label>Payment Info</ion-label></ion-item-divider>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Paypal</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Venmo</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Cash App</ion-label>
            <ion-toggle></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-group>
  <ion-item>
    <ion-label>Pick-up Time</ion-label>
    <ion-datetime displayFormat="hh:mm a" placeholder="Select a time"></ion-datetime>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button><ion-icon name="add"></ion-icon>Copy Invite Link</ion-fab-button>
  </ion-fab>
</ion-content>
