<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="format">
  <ion-row>
    <ion-col>
      <ion-item class="format">
        <ion-label class="textStyle" position="stacked">Email: </ion-label>
        <ion-input [(ngModel)]='email' placeholder="Enter here"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button (click)='resetPassword()' color="tertiary">Reset Password</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
