<ion-item>
<ion-grid class="ion-padding-top">
  <ion-row>
    <ion-col class="restName">{{order.restaurantName}}</ion-col>
    <ion-col class="ion-text-right">{{order.pickupTime}}</ion-col>
  </ion-row>

  <ion-row>
    <ion-col id="userList">
      <span *ngFor="let user of order.users; let i = index">
        <span *ngIf="i < order.users.length - 1; else elsetag">{{ fireservice.nameForUser(user) }}, &nbsp;</span>
        <ng-template #elsetag>
          <span>{{ fireservice.nameForUser(user) }}</span>  
        </ng-template>
      </span>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-item>
