ion-item{
  border-radius: 7px;
  border: 1px solid #5d5d5d;
  min-width: 100% !important;
  max-width: 100% !important;
}



.custom-button{
  border-radius: 5px;
  border: 1px solid #5d5d5d;
  --box-shadow:none;
  --background: transparent;
  font-size: 16px;
  height: auto;
}

.edit-button{
  --background-hover: transparent;
  --box-shadow:none;
  --background: transparent;
}

span.ion-text-left {
  margin-right: auto;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 16px;
}

span.button-inner{
  margin-right: 0px;
}

ion-fab-button {
  --border-radius: 7px;
  width: calc(100vw - 50px);
  margin-left: 16px
}





