<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="profile-icon ion-text-center">
        <ion-label class="image-container">
          <img [src]="url ? url : 'https://seekicon.com/free-icon-download/person-circle-outline_1.svg'" class=""> 
          <input type='file' (change)='changePicture($event)' class="select-profile-picture">
        </ion-label>
        <ion-button *ngIf="url" (click)='delete()' id="deleteBTN" color="white">Delete Image</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input [(ngModel)]='userData.name'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group [(ngModel)]='userData.gender'>
            <ion-list-header>
              <ion-label>Gender</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="male"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="female"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Non-binary</ion-label>
              <ion-radio slot="start" value="non-binary"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Phone</ion-label>
          <ion-input [(ngModel)]='userData.phone'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]='userData.email'></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Change Password</ion-label>
          <ion-button fill="outline" (click)='changePassword()'><ion-icon name="caret-forward"></ion-icon></ion-button>
        </ion-item>
        <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand='block' (click)='updateInfo()'>Update</ion-button>
        <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand='block' (click)='logout()'>Log-out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
