<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="profile-icon ion-text-center">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group>
            <ion-list-header>
              <ion-label>Gender</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio slot="start" value="male"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio slot="start" value="female"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Non-binary</ion-label>
              <ion-radio slot="start" value="non-binary"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Phone</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Change Password</ion-label>
          <ion-button fill="outline"><ion-icon name="caret-forward"></ion-icon></ion-button>
        </ion-item>
        <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand='block' (click)='updateInfo()'>Update</ion-button>
        <br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand='block' (click)='logout()'>Log-out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
