.profile-icon {
    font-size: 128px;
    color: lightgray;
}

.image-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

img {
  height: 150px;
  width: 150px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 50%;
  position: relative;
  display: block;
  cursor: pointer;
}

.select-profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#deleteBTN {
  border: solid;
  border-width: thin;
  position: absolute;
  color: rgb(94, 92, 92);
  text-align: center;
  font-size: 9px;
  right: 4px;
  width: 90px;
  height: 20px;
}